<!DOCTYPE html>
<html>
  <head>
    <title>Choose your own adventure: Consciousness Edition</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
      <h1 id="front">
        <p>
        Doctor: "Are you ready to complete said incision?"</p>
        <p>
        You: "Yes. His life depends on me doesn't it?"
        </p>
        <p>
        Doctor: "It does. Your decisions will be a great impact in your friend's mental state. You will be launched into your friend's consciousness in 3... 2... 1..."
        </p>
        <p id="subtext"> 
        You are in. Which memory will you alter first?  
        </p>
       
      </h1>
      <button id="option 1">
        We wil
      </button>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
