<!DOCTYPE html>
<html>
  <head>
    <title>Choose your own adventure: Consciousness Edition</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
      <div id="scone">
      <h2 id="front">
        <p>
        Doctor: "Are the wires connected?"
        </p>
        <p>
        You: "Yes. His life depends on me doesn't it?"
        </p>
        <p>
        Doctor: "It does. Your decisions will be a great impact in 
        your friend's mental state. You will be launched into his
        consciousness in 3... 2... 1..."
        </p>
        </h2>
        <p id="subtext"> 
          You are in. Which memory will you choose?
        </p>
        <button id="optionone">
          The blue sky
        </button>
        <button id="optiontwo">
          The red dawn
        </button>
        </div>
      
      <div id="sctwobs">
        <p>
          You wake up under an Oak tree in front of Oakland Charter High School. It's been ten years since you graduated. 
          Your friend is just right across the lawn and and surrounded by three taller students.
        </p>
      </div>
      
      <div id="sctword">
        
      </div>
               
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
<script src="/client.js"></script>
  </body>
</html>
