<!DOCTYPE html>
<html>
  <head>
    <title>Choose your own adventure: Consciousness Edition</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
      
      <div id="intro">
        <p class="con">
        Doctor: "Are the wires connected?"
        </p>
        <p class="con">
        You: "Yes. His life depends on me doesn't it?"
        </p>
        <p class="con">
        Doctor: "It does. Your decisions will be a great impact in 
        your friend's mental state. You will be launched into his
        consciousness in 3... 2... 1..."
        </p>
        <p id="subtext"> 
          You are in. Which memory will you choose?
        </p>
        <button class="optionone">
          The blue sky
        </button>
        <button class="optiontwo">
          The red dawn
        </button>
        </div>
      
      <div id="oneres">
        <p>
          You wake up under an Oak tree in front of Oakland Charter High School. It's been ten years since you graduated. 
          Your friend is just right across the lawn and and surrounded by three taller students. You should...
        </p>
          <button class="optionfive">
            Save him
          </button>
          <button class="optionfour">
            Ignore him
          </button>
      </div>

      <div id="twores">
        <p>
           You wake up in front of your friend's house. It looks like... he's taking drugs?!? He's only 15. Should you stop him?
        </p>
        <button class="optionfour">
          Just ignore him. 
        </button>
        <button id="optionthree">
          Befriend him.
        </button>
      </div>
      
      <div id="threeres">
        <p>
          After hanging around him for a few days, he tells you he needs your help. He wants reassurance
        </p>
      </div>
      
      <div id="fourres">
        
      </div>
      
      <div id="fiveres">
        
      </div>
      
      <div id="sixres">
        
      </div>
      
      <div id="sevenres">
        
      </div>
      
      <div id="eightres">
        
      </div>
      
      <div id="nineres">
        
      </div>
      
      <div id="tenres">
        
      </div>
      
      <div id="elevenres">
        
      </div>
      
  </body>
</html>
