<!DOCTYPE html>
<html>
  <head>
    <title>Choose your own adventure: Consciousness Edition</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
    <body>
      
      <div id="intro">
        <p class="con">
        Doctor: "Are the wires connected?"
        </p>
        <p class="con">
        You: "Yes. His life depends on me doesn't it?"
        </p>
        <p class="con">
        Doctor: "It does. Your decisions will be a great impact in your friend's mental 
        state. Remember: when you dive into his consciousness, he will not know who you are. This diving session 
        will affect your mental state as well. You will be launched into his consciousness in 3... 2... 1..."
        </p>
        <p id="subtext"> 
          You are in. Which memory will you alter?
        </p>
        <button class="one">
          The blue sky
        </button>
        <button class="two">
          The red dawn
        </button>
        </div>
      
      <div id="oneres">
        <p>
          You wake up under an Oak tree in front of Oakland Charter High School. It's been ten years since you graduated. 
          Your friend is just right across the lawn and and surrounded by three taller students. You should...
        </p>
          <button class="five">
            Save him.
          </button>
          <button class="four">
            Ignore him.
          </button>
      </div>

      <div id="twores">
        <p>
           You wake up in front of your friend's house. It looks like... he's taking drugs?!? He's only 15. 
          Should you stop him?
        </p>
        <button class="four">
          Just ignore him. 
        </button>
        <button id="three">
          Befriend him.
        </button>
      </div>
      
      <div id="threeres">
        <p>
          After hanging around him for a few days, you spot your friend crying. He wants reassurance 
          that his future will be fine; he knows what he's doing is wrong... Should you warn him?
        </p>
        <button class="eight">
          No. This was his own wrongdoing.
        </button>
        <button class="nine">
          Explain how you dived into his consciousness.
        </button>
      </div>
      
      <div id="fourres">
        <p>
           You see one of the taller students kick your friend in the stomach. It might be a good time to intervene...
        </p>
        <button class="seven">
          Ignore him. You don't want make things worse.
        </button>
        <button class="six">
          Stop them. How dare they do that to your friend!
        </button>
      </div>
      
      <div id="fiveres">
        <p>
          You approach the potential bullies and ask what they're doing. They tell you 
          it's none of your concern and make a threatening gesture towards you.
        </p>
        <button class="six">
          Stand your ground.
        </button>
        <button class="seven">
          It might be safer to back off.
        </button>
      </div>
      
      <div id="sixres">
        <p>
          Your friend rushes up to you and thanks you. Both of you skip the rest of today's classes to hang out. 
          As you were heading towards the park, someone abruptly blocks your path. It's the bullies from earlier.
          Either you leave your friend to "hang out" with them or you can say goodbye to your face.
        </p>
        <button class="eleven">
          You can't think straight and just RUN, leaving your friend behind.
        </button>
        <button class="ten">
          You grab your friend's hand and run.
        </button>
      </div>
      
      <div id="sevenres">
        <p>
          After school, you are strolling down the sidewalk when you encounter your friend once again, surrounded 
          by bullies. He's been heavily beaten: there's a bruise under his eye and he's clutching his stomach.
        </p>
        <button class="ten">
          This has gone far enough. Stop them.
        </button>
        <button class="eleven">
          You look away in shame. It's already too late.
        </button>
      </div>
      
      <div id="eightres">
        <p>
          Doctor:"Diver, your session is over. I repeat, Diver, your session is over. 
          Please make attempt to make contact with your friend's subconsciousness."
        </p>
        <button class="300">
          I'm ready.
        </button>
      </div>
      
      <div id="nineres">
        <p>
          After you explain how you are diving into his mind, a smile slowly spreads across his face.
          He's glad you decided to confide in him. He feels like he's gotten a huge load lifted from his shoulders!
          Shortly afterwards, the doctor's voice enters your mind.
        </p>
        <p>
          Doctor: "Diver, the session is about to end. I repeat, Diver, the session is about to end. Are you finished? 
          Please make contact with the reformed consciousness of your friend."
        </p>
        <button class="300">
          Okay, I'm ready.
        </button>
      </div>
      
      <div id="tenres">
        <p>
          You hold up your phone and threatening to call the police. The bullies mutter under their 
          breath and leave. You friend is crying tears of relief and joy. Shortly afterwards, the doctor contacts you.
        </p>
        <p>
          Doctor:"Mission complete! Your friend's mind is almost healed. There is a great chance of full recovery. 
          In addition to that, you have suffered minimal damage and will be mostly unaffected. Please report your findings
          when you return."
        </p>
        <button class="200">
          Return.
        </button>
      </div>
      
      <div id="elevenres">
        <p>
          The doctor contacts you.
        </p>
        <p>
          Doctor: "Diver, the mission has failed. For some reason, the patient's mind has gone under extreme stress
          and... I am no longer receiving a response."
        </p>
        <button class="100">
          Return
        </button>
      </div>
      
      <div id="100">
        <p>
          
        </p>
      </div>
      
      <div id="200">
        <p>
          
        </p>
      </div>
      
      <div id="300">
        <p>
          
        </p>
      </div>
      
  </body>
</html>
